{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-content">
    <div class="profile-image">
        {% load static %}
        <img src="{% static 'profile/profile.png' %}" width="100" height="100" alt="Profile.png">
    </div>
    <div class="profile-fields">
        <div class='field-container'>
            <span class='field-label'>Username: </span>
            <span class='field-content'>{{ user.get_username }}</span>
        </div>
        <div class='field-container'>
            <span class='field-label'>Email: </span>
            <span class='field-content'>{{ user.email }}</span>
        </div>
    </div>
    <div class="profile-options">
        <div class="option-container">
            <a class="option-link" href="#">Upload Photo</a>
        </div>
        <div class="option-container">
            <a class="option-link" href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">View Data</a>
        </div>
    </div>
</div>
{% include "profile/data-modal.html" %}
{% endblock %}