{% extends "profile/profile.html" %}

{% block login %}
<div class="login-content">
    <form class="modal-content animate" action="#" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
                {% load static %}
                <img src="{% static 'profile/profile.png' %}" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button id="login-button" type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

{% endblock %}