{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-content">
        <form class="modal-content animate" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-content">
                <div>
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page.</p>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="imgcontainer">
                    {% load static %}
                    <img src="{% static 'posts/profile.png' %}" alt="Avatar" class="avatar">
                </div>
                <div id="input-div">
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td class="form-input">{{ form.username }}</td>
                        </tr>

                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td class="form-input">{{ form.password }}</td>
                        </tr>
                    </table>
                </div>
                <div id="button-div">
                    <input id="login-button" type="submit" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                <div>
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}