<h1>{{ post.post_id }}</h1>
<ul>
    <li>{{ post.post_author }}</li>
    <li>{{ post.post_text }}</li>
    <li>{{ post.post_score }}</li>
    <li>{{ post.pub_date }}</li>
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'posts:vote' post.id %}" method="post">
    {% csrf_token %}
    <input type="radio" name="vote" id={{post.id}} value="upvote">
    <label for="{{post.id}}">upvote</label>
    <br>
    <input type="radio" name="vote" id={{post.id}} value="downvote">
    <label for="{{post.id}}">downvote</label>
    <br>
    <input type="submit" value="Vote">
</form>

<a href="{% url 'posts:index' %}">Home</a>