li a {
    color: green;
}

.body-content {
    height: 100%;
    background-color: lightblue;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    margin-top: 1%;
}

#refresh-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 4% 2% 0;

    background-color: black;
    color: white;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
}

.dropdown-toggle::after { border: none; }