{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark justify-content-md-center justify-content-start" style="background-color: #15202a;">
    <a class="navbar-brand" href="/">
        {% load static %}
        <img src="{% static 'posts/logo.gif' %}" width="60" height="60" class="d-inline-block align-top" alt="">
    </a>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:trends'%}">Trending</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Recent</a>
            </li>
            {% endif %}
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="/">DrinkUp</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Location
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <form action="{% url 'posts:location'  %}" method="post" class="form-inline">
              {% csrf_token %}
                <input class="form-control mr-sm-2" name="location" type="search" placeholder="Filter Location" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upload</a> 
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-display="static" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% load static %}
              <img src="{% static 'profile/profile.png' %}" width="50" height="50" alt="Profile.png">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'profile:index' %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Log Out</a>
            </div>
          </li>
        </ul>
    </div>
</nav>
{% endblock %}

<!--
<nav class="navbar navbar-expand-lg navbar-dark justify-content-md-center justify-content-start" style="background-color: #15202a;">
  <a class="navbar-brand d-md-none d-inline" href="/">
    {% load static %}
    <img src="{% static 'posts/logo.gif' %}" width="50" height="50" padding-left="5px" class="d-inline-block align-top"
      alt="">
  </a>
  </button>
  <div class="navbar-collapse collapse justify-content-between align-items-center" id="navbarNavAltMarkup">
    <ul class="navbar-nav mx-auto text-md-center text-left">
      <li class="nav-item">
        <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'posts:trends'%}">Trending</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Location
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <form action="{% url 'posts:location'%}" method="post" class="form-inline">
          {% csrf_token %}
            <input class="form-control mr-sm-2" name="location" id="location" value="location" type="search" placeholder="Filter Location" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </li>
      
    </div>
  </div>
</nav>
-->