.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 4% auto;
    width: 50%;

    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
}

.center_div{
    margin: 0 auto;
    width:50%;
    padding: 20px;
    margin-top: 20px;
}